<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.secompufscar.app">

    <!-- Permissões -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Declaração das atividades -->

        <!-- Splash Screen -->
        <activity
            android:name="br.com.secompufscar.app.SplashScreen"
            android:theme="@style/SplashTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Main Activity -->
        <activity
            android:name="br.com.secompufscar.app.MainActivity"
            android:label=""
            android:theme="@style/AppTheme"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>


        <!-- Tela de Detalhes de atividades -->
        <activity
            android:name="br.com.secompufscar.app.AtividadeDetalhes"
            android:configChanges="orientation|keyboardHidden"
            android:label="Detalhe Atividade"
            android:parentActivityName="br.com.secompufscar.app.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.secompufscar.app.MainActivity" />
        </activity>

        <!-- Tela de Detalhes de pessoa -->
        <activity
            android:name="br.com.secompufscar.app.PessoaDetalhes"
            android:configChanges="orientation|keyboardHidden"
            android:label="Detalhe Pessoa"
            android:parentActivityName="br.com.secompufscar.app.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.secompufscar.app.MainActivity" />
        </activity>

        <activity
            android:name="br.com.secompufscar.app.Social"
            android:label="Redes Sociais"
            android:parentActivityName="br.com.secompufscar.app.MainActivity"
            android:theme="@style/AppTheme"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.secompufscar.app.MainActivity" />

        </activity>

        <!-- WebView para Area do Participante -->
        <activity
            android:name="br.com.secompufscar.app.AreaDoParticipante"
            android:label="Área do Participante"
            android:parentActivityName="br.com.secompufscar.app.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.secompufscar.app.MainActivity" />
        </activity>

        <activity
            android:name="br.com.secompufscar.app.Settings"
            android:parentActivityName="br.com.secompufscar.app.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.secompufscar.app.MainActivity" />
        </activity>

        <activity
            android:name="br.com.secompufscar.app.MapsActivity"
            android:label="Mapa"
            android:parentActivityName="br.com.secompufscar.app.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.secompufscar.app.MainActivity" />
        </activity>

        <!-- Declaração de serviços -->
        <service android:name="br.com.secompufscar.app.SECOMPFirebaseService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name="br.com.secompufscar.app.FirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_icon" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

    </application>

</manifest>